body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.Hero,
.footer,
.Header{
    background-color: #1f2937;
}

.Title{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.Header_Description,
.Header_link,
.Copyright{
    font-size: 18px;
    color: #E5e7eb;
}

.Header_logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.Header{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 16px;
    
}

.Header_logo{
    display: flex;
    width: 100%;
    justify-content: center;
}

.links{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 16px;
    margin: 0;
    padding: 0;
}

.Hero{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container{
    display: flex;
    justify-content: center;
    width: 100%;
}

.Hero_text{
    text-align: left;
}

img{
    width: 100%;
}

a{
    text-decoration: none;
    background-color: #3882f6;
    color: white;
    padding: 4px 8px;
}

a[rel=button_1] { 
    border-radius: 8px;
}

.Body_2{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 444px;
}

.Title_2{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin: 0;
    padding: 20px;
}

.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

}

.card{
    width: 300px;
    text-align: center;
}

.Quote{
    background-color: #E5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 444px;
}

.container_2{
    width: 50%;
}
.quotation{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    font-weight: lighter;

}

.author{
    font-weight: bold;
    text-align: end;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    
}

.modal_heading{
    font-size: 24px;
    font-weight: bold;

}

.modal_container{
    background-color: #3882f6;
    width: 1000px;
    display: flex;
    padding: 16px;
    margin: 100px;
    align-items: center;
    justify-content: center;
    

}

.modal_text {
    width: 75%;
    margin: 0;
    padding: 0;
}

.button_2 {
    border: 2px solid white;
    padding: 5px 20px;
    border-radius: 5px;

}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 150px;

}